@media screen and (max-width:1023px) {
}
@media screen and (max-width:767px) {
.TopMenu { display: none; }
header { width: 100%; background: #fff; position: fixed; z-index: 99; }
header .navbar .navbar-brand { padding: 8px 0; }
header .navbar .navbar-brand img { width: 130px; }
header .topmenuleft, header .topmenuright { display:block;}
header .navbar-expand-md .navbar-nav { margin-left: 0; background: #4b847d; }
.navbar-collapse { position: fixed; width: 100%; z-index: 999; left: 0px; top: 60px; }
.navbar-toggler { padding: 0px; }
header .navbar-expand-md .navbar-nav .nav-itemk { padding: 0px; border-right: 0px; }
header .navbar-expand-md .navbar-nav .nav-item { border-right: 0; border-bottom: 1px solid rgb(184 187 188 / 27%); padding: 0; }
header .navbar-expand-md .navbar-nav .nav-link { padding: 13px 15px; margin: 0px; color: rgb(255 255 255 / 77%); }
header .navbar-expand-md .navbar-nav li.active .nav-link { color: #fff; }
.heroarea { margin-top: 60px; }
.heroarea .slick-slide { min-height: inherit; padding: 50px 0; }
.heroarea h1 span { font-size: 17px; }
.heroarea h1 { padding: 10px; line-height: 35px; font-size: 26px; width: 100%; }
.welcomegide { padding: 30px 0; }
.welcomegide h2 { font-size: 30px; line-height: 20px; }
.welcomegide h3 { font-size: 40px; line-height: 50px; letter-spacing: 0; margin-bottom: 5px; }
.welcomegide p { font-size: 15px; color: #4b4b4b; line-height: 25px; padding: 0 0 15px; margin: 0 auto 20px; }
.home-gallery, .home-gallery1, .home-gallery2 { margin: 0; }
.homegallery .container-fluid { padding: 0; }
.homegallery h2 { font-size: 26px; padding: 10px 0 0 15px; margin-top: 15px; }
.homegallery p a { display: block; text-align: center; }
.homegallery .container-fluid.nopad { padding: 20px 0 0; }
.ChairmanDesk { padding: 20px 0 30px; }
.homenews { padding: 0 0 30px; }
.homenews h3 { font-size: 38px; line-height: 60px; letter-spacing: 0; margin-bottom: 20px; }
footer .questions-footer { padding: 0 0 20px; font-size: 17px; margin-bottom: 20px; line-height: 34px; }
footer .questions-footer a { margin-left: 0; display: block; font-size: 16px; line-height: 18px; margin-top: 15px; }
footer { padding: 10px 0 30px; }
footer h2 { margin: 15px 0; }
footer li a { font-size: 15px; line-height: 20px; width: 50%; }



.inner-banner h1 {
    padding: 10px 15px;
    line-height: 30px;
    font-size: 26px;
}
.AboutWrap {
    padding: 10px 0 40px;
}
.AboutWrap .nav-tabs .nav-link {
    padding: 20px 0;
    font-size: 15px;
	margin:0px;
    text-align: center;
}
.AboutWrap .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
}
.AboutWrap .tab-pane h2 {
    font-size: 22px;
    padding: 15px 0 10px;
}
.AboutWrap .tab-pane p {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 20px;
}
.AboutWrap .tab-pane ul {
    margin-bottom: 0;
}
.contactwrap h2 {
    font-size: 25px;
    padding: 0 0 5px;
    font-weight: 600;
}
.contactwrap p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}
.CourseWrap {
    padding: 30px 0;
}
.CourseWrap p {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 15px;
}
.CourseBox {
    padding: 20px 0;
}
.CourseBox h2 {
    font-size: 30px;
    padding: 0 0 10px;
    font-weight: 600;
}
.CourseBox p {
    font-size: 14px;
    line-height: 26px;
	padding-bottom:15px;
}
.CourseBox a {
    width: 100%;
	display:block;
    margin: 4px 0;
}
.CourseLeft {
    width: 100%;
    min-height: auto;
    text-align: center;
}
.CourseRight {
    width: 100%;
    font-size: 13px;
    line-height: 22px;
}
.innerdata {
    padding: 0 0 40px;
}
.EnquiryWrap .btn-submit {
    width: 100%;
}
.EnquiryWrap {
    padding: 30px 0 60px;
}
.gallerywrap h2 {
    font-size: 25px;
    padding: 10px 0 10px;
    line-height: 30px;
}
.homenews .row{ white-space: nowrap; display:inherit;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;}
	
.homenews .row .col-sm-4{ float:inherit; width: 88%; vertical-align:top; padding-left:10px; padding-right:0;
    display: inline-block;
    overflow: hidden;
    white-space: initial;}

.newsdata h2 {
    font-size: 25px;

    padding: 10px 0 15px;
    line-height: 35px;
    margin: 20px 0 0 0;
}
.newsdata p {
    font-size: 14px;
    line-height: 26px;
    padding-left: 0;
}
.newsdata1 {
    padding: 40px 0;
    text-align: left;
}
.newsdata1 h2 {
    font-size: 25px;
    padding: 10px 0 15px;
    line-height: 30px;
    margin: 10px 0 0 0;
}
.newsdata1 h2 i {
    left: 0;
    right: auto;
}






.m-hide { display: block; }
.d-hide { display: none; }
}
