@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@charset "utf-8";
/* CSS Document */
html { font-size: 100% }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, title { display: block }
body { font-family: 'PT Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 16px; line-height: 15px; -webkit-font-smoothing: antialiased; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
ol, ul { list-style: none }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
* { outline:none !important; }
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { outline: 0; text-decoration: none; }
a, button{ transition:all 0.5s ease-in-out;}
.clearfix { *zoom:1}
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0 }
.clearfix:after { clear: both }
.clear { clear: both }
.btn { outline: 0px; }
.lists { list-style: none; margin: 0px; padding: 0px;}
.mainpage{ position:relative;  overflow:hidden;}
/* Top Menu */
.TopMenu{ width:100%; background:#f1eee9; border-bottom:5px solid #4b847d;}
.TopMenu .navbar{ padding:0px;}
.TopMenu .topmenuleft.navbar-nav .nav-link{padding:18px 12px; color:#434343; font-size:16px; font-weight:400; border-top:3px solid #4b847d; margin-right:2px;}
.TopMenu .topmenuleft.navbar-nav .nav-item.active .nav-link{ color:#fff; background:#4b847d;}
.TopMenu .topmenuright.navbar-nav .nav-link{ margin:18px 0; color:#434343; font-size:14px; font-weight:400; padding:0 12px; border-right:1px solid #434343;}
.TopMenu .topmenuright.navbar-nav .nav-link:last-child{ border-right:0px;}

/* Header Start */
header{ width:100%; background:#fff;}
header .navbar{ padding:0px;}
header .navbar .navbar-brand{ padding:10px 0;}
header .navbar-expand-md .navbar-nav{ margin-left:5%;}
header .navbar-expand-md .navbar-nav .nav-item{ border-right:1px solid #b8bbbc; padding:24px 12px;}
header .navbar-expand-md .navbar-nav li.nav-item:last-child{ border-right:0px;}
header .navbar-expand-md .navbar-nav .nav-link { padding:10px 0; margin:0 20px; color:#434343; position:relative;}
header .navbar-expand-md .navbar-nav li.active .nav-link{ color:#4b847d;}
header .navbar-expand-md .navbar-nav li.active .nav-link i{ width:100%; position:absolute; bottom:0px; left:0; right:0; height:4px; background:#4b847d;}

header .topmenuleft, header .topmenuright{ display:none;}


/* Hero Area */
.heroarea{ width:100%; position:relative;}
.heroarea h1{ background:rgb(75 132 125 / 50%); color:#fff; padding:20px 20px 30px; line-height:50px; font-size:50px; font-weight:bold; width:610px; text-transform:uppercase}
.heroarea h1 span{ font-weight:400; font-size:30px; display:block; text-transform:inherit;}
.heroarea .slick-slide{ padding:100px 0; min-height:480px;}

/* Welcome Grids */
.welcomegide{ width:100%; padding:70px 0;}
.welcomegide h2{ font-size:40px; text-align:center; line-height:40px; color:#4b847d;}
.welcomegide h3{ font-size:60px; text-align:center; line-height:60px; color:#4b847d; font-weight:700; letter-spacing:-2.5px; margin-bottom:25px;}
.welcomegide p{ font-size:16px; color:#4b4b4b; line-height:28px; padding:0 0 15px 15px; width:100%; font-weight:300; max-width:850px; margin:0 auto 20px; text-align:center;}

/* Galery css */
.homegallery{ position:relative; background:#f9f5f0;}
.homegallery .container-fluid{ padding:70px 0;}
.homegallery .container-fluid.nopad{ padding:70px 0 0;}
.homegallery h2{ font-size:32px; color:#4b847d; margin-bottom:20px; position:relative; padding:20px 0 0 15px; font-weight:700;}
.homegallery h2 span{ font-weight:400;}
.homegallery h2 i{ position:absolute; top:0; left:15px; width:60px; background:#4b847d; height:5px;}
.homegallery p{ font-size:15px; color:#111; line-height:26px; padding:0 0 15px 15px;}
.homegallery p a{ color:#fff; border-radius:30px; padding:8px 25px; background:#4b847d; display:inline-block; border:1px solid #4b847d; transition:all 0.5s ease-in-out;}
.homegallery p a:hover{ border:1px solid #4b847d; color:#4b847d; background:#f9f5f0;}
.home-gallery{ margin:-95px 0 0 -15px;}
.home-gallery1{ margin:-85px -15px 0 0;}
.home-gallery2{ margin:-85px -15px -30px 0;}

.homegallery .container-fluid img{ width:100%;}

/* Chairman Desk Css */
.ChairmanDesk{ padding:120px 0 50px; width:100%; text-align:center;}
.ChairmanDesk h2{ color:#4b847d; font-size:44px; margin-bottom:20px; font-weight:700;}
.ChairmanDesk p{ font-size:15px; color:#111; line-height:26px; padding-bottom:15px;}
.ChairmanDesk p a{ color:#fff; border-radius:30px; padding:10px 25px; background:#4b847d; display:inline-block;  transition:all 0.5s ease-in-out;}
.ChairmanDesk p a:hover{ border:1px solid #4b847d; color:#4b847d; background:#fff;}

/* Latest News & Event */
.homenews{ width:100%; padding:40px 0 80px;}
.homenews h2{ font-size:40px; text-align:center; line-height:40px; color:#4b847d;}
.homenews h3{ font-size:70px; text-align:center; line-height:60px; color:#4b847d; font-weight:700; letter-spacing:-2.5px; margin-bottom:65px;}
.newsblog{ border:2px solid #d7d7d7; padding:15px; border-top:5px solid #e4c9ac;}
.newsblog .blog-header{ background: #ddd; padding-top: 60%; background-size: cover; background-position: 50% 10%;  -webkit-transition: 1s cubic-bezier(.19,1,.22,1); transition: 1s cubic-bezier(.19,1,.22,1); -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; position: relative; margin-bottom:15px;}
.newsblog h4{ margin-bottom:15px;}
.newsblog h4 a{ color:#000; font-size:20px; font-weight:700; line-height:24px; display:inline-block;}
.newsblog p{ font-size:16px; color:#111; line-height:22px;}
.newsblog p a{ color:#4b847d; font-size:16px;}

/* Footer Start */
footer{ background:#4b847d; padding:30px 0 40px; width:100%;}
footer .questions-footer{ padding:0 0 30px; border-bottom:1px solid #fff; font-size:22px; color:#fff; margin-bottom:30px;}
footer .questions-footer a{ background:#63b7ad; border-radius:30px; padding:12px 20px; margin-left:10px; vertical-align:middle; display:inline-block; color:#fff; font-size:16px;}
.copy-txt{ font-size:16px; color:#fff; line-height:22px;}
footer h2{ font-size:25px; color:#63b7ad; margin-bottom:15px;}
footer p{ font-size:16px; color:#fff; padding-bottom:10px; line-height:26px;}
footer li a{ font-size:16px; color:#fff; padding-bottom:10px; line-height:22px; display:block; width:33%; float:left;}

/* Inner Banner Css */
.inner-banner{ padding:100px 0; width:100%; position:relative;}
.inner-banner h1{ background:rgb(75 132 125 / 70%); color:#fff; padding:20px 20px 30px; line-height:50px; font-size:50px; font-weight:bold; width:100%; text-transform:uppercase; max-width:420px;}

.breadwrap{ background:#e7f3f2; width:100%; padding:5px 0;}
.breadwrap .breadcrumb{ margin:0px; background:none; padding:10px 0;}
.breadwrap .breadcrumb li { color:#949696; position:relative}
.breadwrap .breadcrumb li a{ padding:0 10px; color:#4b847d; font-weight:700; position:relative;}
.breadwrap .breadcrumb li:first-child a{ padding-left:0px;}
.innerdata{ padding:40px 0; width:100%;}
.innerdata h2{ font-size:40px; text-align:center; line-height:30px; font-weight:600; color:#4b847d; margin-bottom:25px;}
.innerdata p{ font-size:16px; color:#4b4b4b; line-height:28px; padding:0 0 15px 15px; margin:0 0 20px; text-align:center;}
.gallerywrap{ width:100%; padding:40px 0; position:relative;}
.gallerywrap .blogbox{ margin-bottom:20px;}
.gallerywrap h2{ font-size:35px; color:#e4c9ac; padding:20px 0 15px; font-weight:800; position:relative; line-height:40px;}
.gallerywrap h2 i{ position:absolute; top:0; left:0; width:70px; height:3px; background:#e4c9ac; display:inline-block;}
.gallerywrap h2 span{ font-weight:400;}
.gallerywrap p{ font-size:16px; color:#8d8d8d; line-height:28px;}
.gallerywrap a{ background:#c7e8e5; border-radius:30px; padding:10px 20px 11px; position:absolute; bottom:15px; right:15px; color:#000;}
.gallerywrap a:hover{ background:#4b847d; color:#fff;}
.gallery-header{ position:relative; width:100%; margin-bottom:15px; background: #ddd; padding-top: 60%; background-size: cover; background-position: 50% 50%;  -webkit-transition: 1s cubic-bezier(0.19, 1, 0.22, 1); transition: 1s cubic-bezier(0.19, 1, 0.22, 1); -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;} 

.aboutwrap{ padding:40px 0 60px; width:100%;}
.aboutwrap p{ font-size:16px; color:#8d8d8d; line-height:28px; padding-bottom:25px;}
.aboutwrap p img{ width:100%;}

.contactwrap{ padding:40px 0 100px; width:100%;}
.contactwrap h2{  font-size:35px; color:#e4c9ac; padding:0 0 20px; font-weight:600;}
.contactwrap p{ font-size:17px; color:#8d8d8d; line-height:26px; padding-bottom:15px;}
.mapb{ border:2px solid #ccc; vertical-align:top;}

.EnquiryWrap{ padding:40px 0 100px; width:100%;}
.EnquiryWrap .form-control{ height:50px; font-size:16px;}
.EnquiryWrap .form-control.message{ height:150px; font-size:16px;}
.EnquiryWrap .btn-submit{ padding:15px 30px; background:#e4c9ac; color:#000; font-size:18px; text-transform:uppercase; border:0px; display:inline-block; border-radius:3px; float:right; cursor:pointer;}
.EnquiryWrap .btn-submit:hover{ background:#4b847d; color:#fff;}


.CourseWrap{ padding:50px 0; width:100%;}
.CourseWrap p{ font-size:16px; color:#8d8d8d; line-height:28px; padding-bottom:25px;}

.CourseBox{ padding:50px 0; width:100%; background:#f5fafa;}
.CourseBox h2{ font-size:35px; color:#e4c9ac; padding:0 0 20px; font-weight:600;}
.CourseBox p{ font-size:16px; color:#111; line-height:28px; padding-bottom:35px;}
.CourseBox a{ display:inline-block; padding:12px 20px; background:#e4c9ac; color:#fff; font-size:18px; margin:0 10px;}
.CourseBox a:hover{  background:#4b847d; color:#fff;}
.CourseIndent{padding:50px 0 80px; width:100%;}

.CourseDetail{ border:1px solid #e7e7e7; width:100%;}
.CourseLeft{ width:150px; min-height:70px; padding:20px 10px; color:#e4c9ac; background:#fcf9f7; float:left; border-bottom:1px solid #e7e7e7;}
.CourseRight{ width:calc(100% - 150px); float:left; padding:10px; font-size:14px; color:#8d8d8d; line-height:24px; min-height:70px; border-bottom:1px solid #e7e7e7;}


.AboutWrap{ width:100%; padding:50px 0;}
.AboutWrap .nav-tabs{ border-bottom:2px solid #ccc; margin-bottom:20px;}
.AboutWrap .nav-tabs .nav-link{ border-radius:0px; border:0px; padding:30px 0; margin:0 15px; color:#9e9e9e; font-size:20px; position:relative;}
.AboutWrap .nav-tabs li:first-child .nav-link{ margin-left:0px;}
.AboutWrap .nav-tabs .nav-link.active{ background:none; color:#e4c9ac;}
.AboutWrap .nav-tabs .nav-link.active i{ width:100%; height:4px; background:#e4c9ac; position:absolute; left:0; right:0; bottom:0;}


.AboutWrap .tab-pane.container{ padding:0px;} 
.AboutWrap .tab-pane h2{ font-size:22px; color:#e4c9ac; padding:0 0 10px; font-weight:600;}
.AboutWrap .tab-pane ul{ margin-bottom:20px;}
.AboutWrap .tab-pane p{ font-size:16px; color:#8d8d8d; line-height:26px; padding-bottom:25px;}
.AboutWrap .tab-pane li { font-size:16px; color:#8d8d8d; line-height:24px; padding:6px 0 6px 26px; background:url(../images/built.png) left 13px no-repeat; background-size:14px;}

.newswrap{ padding:50px 0; width:100%;}

.newsdata h2{ font-size:35px; color:#e4c9ac; padding:20px 0 15px; font-weight:800; position:relative; line-height:40px; margin:50px 0 0 40px;}
.newsdata h2 i{ position:absolute; top:0; left:0; width:80px; height:5px; background:#e4c9ac; display:inline-block;}
.newsdata p{ font-size:16px; color:#3f1111; line-height:28px; padding-left:40px;}
.newsdata h2 span{ font-weight:400;}

.newsdata1{ background:#eef8f7; padding:80px 0; width:100%; text-align:right;}
.newsdata1 h2{ font-size:35px; color:#e4c9ac; padding:20px 0 15px; font-weight:800; position:relative; line-height:40px; margin:80px 40px 0 0;}
.newsdata1 h2 i{ position:absolute; top:0; right:0; width:80px; height:5px; background:#e4c9ac; display:inline-block;}
.newsdata1 p{ font-size:16px; color:#8d8d8d; line-height:28px; padding-right:40px;}
.newsdata1 h2 span{ font-weight:400;}
.m-hide{ display:none;}
.d-hide{ display:block;}
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu a:hover {
    background-color: rgb(75 132 125 / 50%);
  }

.li_display {
    font-size: 16px;
    color: black;
    line-height: 24px;
    padding: 6px 0 6px 26px;
    background: url(../images/built.png) left 13px no-repeat;
    background-size: 14px;
}


.slick-dots {
	margin: auto;
	width: auto;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	justify-content: center;
	display: flex !important;
}
.slick-dots li {
	background: transparent;
	border: 0;
	font-size: 0;
	margin: 0 4px;
}
.slick-dots li button {
	background: #fff;
	border: 0;
	height: 20px;
	width: 20px;
}
.slick-dots li.slick-active button {
	background: #4b847d;
}